{% extends 'base.html.twig' %}

{% block title %}New Blogresponse{% endblock %}

{% block body %}
    <h1>Create new Blogresponse</h1>

    {{ include('blogresponse/_form.html.twig') }}

    <a href="{{ path('blogresponse_index') }}">back to list</a>
{% endblock %}
