{# templates/emails/feedback.html.twig #}

<h3>Дорогой(ая), {{ name }}!</h3>

<div>
    Ваше обращение:

            <p><b><i>
                {{ message }}
            </i></b></p>

    успешно получено.

</div>

Спасибо за обратную связь!

{# Makes an absolute URL to the /images/logo.png file #}
<!--img src="{# absolute_url(asset('images/logo.png')) #}">