{# templates/emails/feedback.html.twig #}

<h3>Дорогой(ая), {{ name }}!</h3>

<div>
    Вы успешно зарегистрировались на сайте gift.all2you.ru:

</div>

Спасибо!

{# Makes an absolute URL to the /images/logo.png file #}
<!--img src="{# absolute_url(asset('images/logo.png')) #}">