{% extends 'base.html.twig' %}

{% block title %}New Partners{% endblock %}

{% block body %}
    <h1>{{ 'Create new Partners' | trans }}</h1>
    <div class="col-sm-12">
        {{ include('partners/_form.html.twig') }}
    </div>
    <div class="col-sm-12">
        <a href="{{ path('partners_index') }}">{{ 'back to partnerslist' | trans }}</a>
    </div>
{% endblock %}
